body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
    touch-action: none;
    background-color: #fff;
}
.container_elem {
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: visible;
    user-select: none;
    touch-action: none;
    background: none;
}
.table-root {
    border-spacing: 0;
    width: 100%;
    height: 100%;
}
.full-width {
    width: 100%;
}
.max-width {
    width: -moz-available;
    width: available;
}

/*noinspection CssInvalidPropertyValue*/
.max-height {
    height: -moz-available;
    height: available;
}
.full-height {
    height: 100%;
}
.full-size {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}
.no-border {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
}
:root {
    --menu-bar-height: 32px;
    --tools-bar-height: 48px;
    --left-side-bar-width: 320px;
    --right-side-bar-width: 320px;
    --output-view-height: 160px;
    --status-bar-height: 32px;
    --resize-bar-size: 12px;
}
.menu-bar-height {
    height: var(--menu-bar-height);
    min-height: var(--menu-bar-height);
    max-height: var(--menu-bar-height);
}
.tools-bar-height {
    height: var(--tools-bar-height);
    min-height: var(--tools-bar-height);
    max-height: var(--tools-bar-height);
}
.left-side-bar-width {
    width: var(--left-side-bar-width);
    min-width: var(--left-side-bar-width);
    max-width: var(--left-side-bar-width);
}
.main-view-width {
    width: calc(100vw - var(--left-side-bar-width) - var(--right-side-bar-width));
    min-width: calc(100vw - var(--left-side-bar-width) - var(--right-side-bar-width));
    max-width: calc(100vw - var(--left-side-bar-width) - var(--right-side-bar-width));
}
.right-side-bar-width {
    width: var(--right-side-bar-width);
    min-width: var(--right-side-bar-width);
    max-width: var(--right-side-bar-width);
}
.output-view-height {
    height: var(--output-view-height);
    min-height: var(--output-view-height);
    max-height: var(--output-view-height);
}
.status-bar-height {
    height: var(--status-bar-height);
    min-height: var(--status-bar-height);
    max-height: var(--status-bar-height);
}
.view-width {
    width: calc(100vw);
}
.main-block-height {
    height: calc(100vh - var(--menu-bar-height) - var(--tools-bar-height) - var(--status-bar-height));
}
.main-view-height {
    height: calc(100vh - var(--output-view-height) - var(--menu-bar-height) - var(--tools-bar-height) - var(--status-bar-height));
}
.flex {
    display: flex;
}
#menu_bar {
    display: flex;
}
#tools_bar {
    padding: 0 8px;
    display: flex;
}
#menu_bar_con {
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--menu-bar-height);
    background-color: #fff;
    z-index: 10;
}
.menu-button {
    transition: border-top-color 150ms, background-color 150ms;
    margin: 0;
    padding: 8px;
    height: calc(var(--menu-bar-height) - 18px);
    border-top: 2px solid #1c8fff00;
    font-family: sans-serif;
    font-size: calc(var(--menu-bar-height) - 16px);
    color: #444;
}
.menu-button:hover {
    transition: border-bottom-color 0ms;
    background-color: #eee;
    border-top-color: #1c8fffff;
}
.tool-button {
    transition: fill 150ms;
    margin: 2px;
    padding: 6px;
    height: calc(var(--tools-bar-height) - 18px);
    font-family: sans-serif;
    font-size: calc(var(--tools-bar-height) - 20px);
    width: calc(var(--tools-bar-height) - 18px);
    height: calc(var(--tools-bar-height) - 18px);
    fill: #888;
    overflow: visible;
    transform: scale(1);
}
.tool-button:hover {
    transition: fill 0ms;
    fill: #000;
}
.tool-button:hover::before {
    content: attr(tool-name);
    position: absolute;
    top: 100%;
    left: 50%;
    padding: 8px;
    background-color: #999;
    color: #fff;
    border-radius: 16px;
    border-top-left-radius: 0;
    word-break: keep-all;
    white-space: nowrap;
    font-size: 0.5em;
}
.tool-button:active::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #0002;
}
#tools_bar_con {
    top: var(--menu-bar-height);
    left: 0;
    width: 100vw;
    height: var(--tools-bar-height);
/*     box-shadow: 0 0 20px #0004; */
    background-color: #fff;
    border-bottom: #ddd 2px solid;
    z-index: 9;
}
#left_side_bar_con {
    top: calc(var(--menu-bar-height) + var(--tools-bar-height));
    left: 0;
    width: var(--left-side-bar-width);
    height: calc(100vh - var(--menu-bar-height) - var(--tools-bar-height) - var(--status-bar-height));
    border-right: #ddd 2px solid;
    background-color: #fff;
    z-index: 8;
}
#main_view_con {
    top: calc(var(--menu-bar-height) + var(--tools-bar-height));
    left: var(--left-side-bar-width);
    width: calc(100vw - var(--left-side-bar-width) - var(--right-side-bar-width));
    height: calc(100vh - var(--output-view-height) - var(--menu-bar-height) - var(--tools-bar-height) - var(--status-bar-height));
    background-color: #fff;
    z-index: 6;
}
#output_view_con {
    bottom: var(--status-bar-height);
    left: var(--left-side-bar-width);
    width: calc(100vw - var(--left-side-bar-width) - var(--right-side-bar-width));
    height: var(--output-view-height);
    border-top: #ddd 2px solid;
    background-color: #fff;
    z-index: 7;
}
#right_side_bar_con {
    top: calc(var(--menu-bar-height) + var(--tools-bar-height));
    right: 0;
    width: var(--right-side-bar-width);
    height: calc(100vh - var(--menu-bar-height) - var(--tools-bar-height) - var(--status-bar-height));
    border-left: #ddd 2px solid;
    background-color: #fff;
    z-index: 8;
}
#status_bar_con {
    bottom: 0;
    left: 0;
    width: 100vw;
    height: var(--status-bar-height);
    background-color: #fff;
    border-top: #ddd 2px solid;
    z-index: 9;
}
svg {
    vertical-align: sub;
}
img {
    vertical-align: sub;
}
.resize_bar {
    position: fixed;
    background-color: #0000;
    margin: 0;
    padding: 0;
}
.resize_bar:hover {
    background-color: #ddd;
}
.resize_bar:active {
    background-color: #0001;
}
#left_resize_bar {
    top: calc(var(--menu-bar-height) + var(--tools-bar-height));
    left: var(--left-side-bar-width);
    width: var(--resize-bar-size);
    height: calc(100vh - var(--menu-bar-height) - var(--tools-bar-height) - var(--status-bar-height));
    z-index: 11;
    cursor: ew-resize;
    transform: translateX(-50%);
}
#left_resize_bar:active {
    width: 1px;
    transform: scaleX(400);
}
#right_resize_bar {
    top: calc(var(--menu-bar-height) + var(--tools-bar-height));
    right: var(--right-side-bar-width);
    width: var(--resize-bar-size);
    height: calc(100vh - var(--menu-bar-height) - var(--tools-bar-height) - var(--status-bar-height));
    z-index: 11;
    cursor: ew-resize;
    transform: translateX(50%);
}
#right_resize_bar:active {
    width: 1px;
    transform: scaleX(400);
}
#bottom_resize_bar {
    bottom: calc(var(--output-view-height) + var(--status-bar-height));
    left: var(--left-side-bar-width);
    width: calc(100vw - var(--left-side-bar-width) - var(--right-side-bar-width));
    height: var(--resize-bar-size);
    z-index: 11;
    cursor: ns-resize;
    transform: translateY(50%);
}
#bottom_resize_bar:active {
    height: 1px;
    transform: scaleY(400);
}
